html {
  font-size: 62.5%;
}
body {
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
}
/* #main-container {
  background-color: hsl(0, 0%, 95%);
  width: 70%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10rem auto;
  padding: 10% auto;
  box-shadow: 0 0.4rem 0.8rem 0.4rem rgba(0, 0, 0, 0.2);
} */
#flex {
  display: flex;
  /* flex-wrap: wrap; */
  /* gap: 0; */
  /* width: 65%;
  height: 26rem; */
  margin-top: 30px;
  width: 50%;
  height: 40%;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
}
p {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  color: hsla(0, 0%, 100%, 0.75);
}
h1 {
  font-family: "Big Shoulders Display", cursive;
  font-weight: 700;
  color: hsl(0, 0%, 95%);
}
.tab {
  width: 33.3%;
  height: 100%;
  padding: 2.5rem;
}
#tab-orange {
  background-color: hsl(31, 77%, 52%);
  border-radius: 0.5rem 0 0 0.5rem;
}
#tab-cyan {
  background-color: hsl(184, 100%, 22%);
}
#tab-darkcyan {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 0.5rem 0.5rem 0;
}
.btn {
  background-color: hsl(0, 0%, 95%);
  border: none;
  border-radius: 1.5rem;
  height: 3rem;
  width: 10rem;
  font-family: "Lexend Deca" sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  padding: auto;
  cursor: pointer;
  /* color: ; */
}
#orange {
  color: hsl(31, 77%, 52%);
}
#cyan {
  color: hsl(184, 100%, 22%);
}
#darkcyan {
  color: hsl(179, 100%, 13%);
}

a:hover #orange {
  background-color: hsl(31, 77%, 52%);
  border: 0.1rem solid white;
  color: white;
}
a:hover #cyan {
  background-color: hsl(184, 100%, 22%);
  border: 0.1rem solid white;
  color: white;
}
a:hover #darkcyan {
  background-color: hsl(179, 100%, 13%);
  border: 0.1rem solid white;
  color: white;
}
.attribution {
  font-size: 1.1rem;
  text-align: center;
  margin-top: 30px;
  font-family: "Lexend Deca" sans-serif;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media (max-width: 720px) {
  body {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;

    align-items: center;
  }
  /* #main-container {
    display: flex;
    justify-content: center;
    margin: 50px auto 0;
    flex-direction: column;
    height: 100%;
    align-items: center;
  } */
  .attribution {
    margin-top: 350px;
    font-weight: 700;
  }
  #flex {
    flex-direction: column;
    width: 100%;
    margin-top: 750px;
  }
  #tab-orange {
    background-color: hsl(31, 77%, 52%);
    border-radius: 0.5rem 0.5rem 0 0;
  }
  #tab-cyan {
    background-color: hsl(184, 100%, 22%);
  }
  #tab-darkcyan {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 0 0.5rem 0.5rem;
  }
}
